#header, #header *{
    font-family: "Bitcount Single", sans-serif;
}

#header{
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 7vh;

    display: flex;
    justify-content: space-around;
}

.headerTab{
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 28px;
}

.headerTab--active{
    background-color: deepskyblue;
    font-weight: bold;
}

.headerTabHolder{
    display: flex;
    flex-direction: row;
}

.headerTitle{
    font-size: 2rem;
    position: relative;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

.headerLogo{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    font-size: 2rem;
}

.headerAccountSection{
    position: relative;
    z-index: 1;
    background-color: antiquewhite;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.headerProfileLink{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#headerAccountSectionName{
    padding-right: 40px;
}

.headerAuthButton{
    margin: 0 16px;
    cursor: pointer;
}

#headerAccountSectionPlaceHolder{
    background-color: blue;
    border-radius: 60px;

    height: 50px;
    width: 50px;
}